// FONT COLOR
$font-color-primary: rgba(255, 255, 255, 0.87);
$font-color-secondary: rgba(255, 255, 255, 0.7);

// BACKGROUND COLOR
$background-color: #000;
$background-color-secondary: rgb(56, 56, 56);
$background-color-tertiary: rgb(39, 39, 39);

// FONT SIZE
$font-size: 1.4rem;
$font-size-secondary: 1.7rem;
