// FONT COLOR
$font-color-primary: rgba(255, 255, 255, 0.87);
$font-color-secondary: rgba(255, 255, 255, 0.7);

// BACKGROUND COLOR
$background-color: #000;
$background-color-secondary: #3b3b3b;
$background-color-tertiary: #222;

// FONT SIZE
$font-size: 1.4rem;
$font-size-secondary: 1.7rem;

//Action Button
$action-success: #00897b;
$primary-blue: #334e68;

// 303f9f
