@import './_variables.scss';
.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	font-size: 3em;
}

.content {
	// background-color: red;
	text-align: center;
	cursor: pointer;
	// animation-name: pulse;
	// animation-duration: 1000ms;
	// animation-timing-function: linear;
	// animation-delay: none;
	// animation-iteration-count: 1;
	// animation-direction: normal;
	// animation-fill-mode: forwards;
	// animation-play-state: running;
	&:hover {
		div {
			transform: translate(2rem);
		}
	}
	div {
		cursor: pointer;
		transition-duration: 100ms;
		font-size: $font-size-secondary + 1rem;
	}
	p {
		font-size: 7rem;
	}
}

@keyframes pulse {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(150%);
	}
}
