@import './_variables.scss';
.container {
	width: 90%;
	height: 90%;
	margin: 2rem auto;
	padding-bottom: 0.7rem;
	text-align: center;
	border-radius: 1rem;
	background-color: $background-color-tertiary;
}

.user {
	// background-color: red;
	.name {
		font-size: 4rem;
	}
	.email,
	.curr_balance {
		font-size: 2rem;
	}
}

.user_focus {
	cursor: pointer;
	transition-duration: 100ms;
	&:hover {
		background-color: $background-color-secondary;
		.name {
			text-decoration: underline;
		}
	}
}

.users_list {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	gap: 1rem;
	margin: 1rem;
	.user {
		cursor: pointer;
		width: 90%;
		margin: auto;
		padding: 1rem 2rem;
		border-radius: 0.4rem;

		.name {
			font-size: 2rem;
		}
	}
}
.payform {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem auto 0 auto;
	gap: 1rem;
	input {
		outline: none;
		padding: 1rem;
		text-align: center;
		font-size: 1.3rem;
		border-radius: 10000rem;
		&::placeholder {
			font-size: 1rem;
			text-align: center;
		}
	}

	.payMoney {
		margin: auto;
		cursor: pointer;
		border: none;
		outline: none;
		font-size: 1rem;
		font-weight: 400;
		padding: 1rem;
		color: #fff;
		background-color: $action-success;
		transition-duration: 100ms;
		border-radius: 10000rem;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.selected {
	background-color: #52606d;
	transform: scale(1.03);
	animation-name: breath;
	animation-duration: 100ms;
	animation-timing-function: linear;
	animation-delay: none;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
}
.notselected {
	background-color: #323f4b;
}

.transfer_success,
.transfer_fail {
	color: #4bb543;
	border: 3px solid #4bb543;
	font-size: 2rem;
	padding: 1rem;
	width: 70%;
	margin: auto;
	border-radius: 2rem;
	cursor: default;
	transition-duration: 100ms;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	div {
		position: absolute;
		right: 2rem;
		transition-duration: 100ms;
		cursor: pointer;
		&:hover {
			transform: scale(1.3);
		}
	}
}
.transfer_success {
	&:hover {
		color: #fff;
		background-color: #4bb543;
	}
}

.transfer_fail {
	border: 3px solid #ff0f0f;
	color: #ff0f0f;
	&:hover {
		color: #fff;
		background-color: #ff0f0f;
	}
}
@keyframes breath {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.03);
	}
}

@media only screen and (max-width: 955px) {
	.transfer_success,
	.transfer_fail {
		font-size: 1.5rem;
		width: 100%;
	}
}
@media only screen and (max-width: 740px) {
	.transfer_success,
	.transfer_fail {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.user_focus {
		.name {
			font-size: 3rem;
		}
		.email,
		.curr_balance {
			font-size: 2rem;
		}
	}
}
@media only screen and (max-width: 500px) {
	.user_focus {
		.name {
			font-size: 2.3rem;
		}
		.email,
		.curr_balance {
			font-size: 1.3rem;
		}
	}
	.payform {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		justify-items: stretch;

		input,
		.payMoney {
			padding: 0.4rem;
			font-size: 1.2rem;
			width: 90%;
			margin: auto;
			&::placeholder {
				font-size: 1rem;
			}
		}
	}
	.users_list {
		.user {
			padding: 0.2;
			.name {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 2rem;
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.transfer_success,
	.transfer_fail {
		font-size: 0.8rem;
	}
}
