@import './_variables.scss';
.container {
	width: 90%;
	height: 90%;
	margin: 2rem auto;
	padding-bottom: 2rem;
	text-align: center;
	background-color: $background-color-tertiary;
	// background-color: #222;
	.name {
		font-size: 4rem;
	}
	.email {
		font-size: 2rem;
	}
	.curr_balance {
		font-size: 2rem;
	}
}

.transactions {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}
.transaction {
	cursor: default;
	width: 90%;
	margin: auto;
	padding: 1rem 2rem;
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	background-color: $background-color-secondary;
	font-size: 1.3rem;
}
.receiver {
	color: rgb(29, 194, 29);
}
.sender {
	color: red;
}

.payMoney {
	border: none;
	outline: none;
	font-size: 1.3rem;
	color: $font-color-primary;
	padding: 1.3rem;
	background-color: $action-success;
	border-radius: 10000rem;
	transition-duration: 100ms;
	&:hover {
		transform: scale(1.03);
	}
}
