@import './_variables.scss';
.container {
	width: 90%;
	height: 90%;
	margin: 2rem auto;
	padding-bottom: 2rem;
	text-align: center;
	background-color: $background-color-tertiary;
}
.user {
	.name {
		font-size: 4rem;
	}
	.email,
	.curr_balance {
		font-size: 2rem;
	}
}

.transactions {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}
.transaction {
	cursor: default;
	width: 90%;
	margin: auto;
	padding: 1rem 2rem;
	border-radius: 0.4rem;
	display: flex;

	justify-content: space-around;
	// justify-items: flex-start;
	flex-direction: row;
	background-color: $background-color-secondary;
	font-size: 1.3rem;
	p {
		width: 100%;
		text-align: center;
	}
}
.receiver {
	color: rgb(29, 194, 29);
}
.sender {
	color: red;
}

.payMoney {
	button {
		cursor: pointer;
		border: none;
		outline: none;
		font-size: 1.3rem;
		color: $font-color-primary;
		padding: 1.3rem;
		background-color: $action-success;
		border-radius: 10000rem;
		transition-duration: 100ms;
		&:hover {
			transform: scale(1.03);
		}
	}
}
@media only screen and (max-width: 600px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}
	.user {
		.name {
			font-size: 2.2rem;
		}
		.email,
		.curr_balance {
			font-size: 1rem;
		}
	}
	.transaction {
		height: 100%;
		width: 100%;
		padding: 1rem 5px;
		font-size: 1rem;
		p {
			display: flex;
			flex-direction: column;
		}
	}
}

@media only screen and (max-width: 300px) {
	.user {
		.name {
			font-size: 1.8rem;
		}
		.email,
		.curr_balance {
			font-size: 0.8rem;
		}
	}
	.transaction {
		font-size: 0.8rem;
		padding: 0.3rem;
	}
}
