@import './_variables.scss';
.container {
	width: 90%;
	height: 90%;
	margin: 2rem auto;
	padding-bottom: 2rem;
	border-radius: 1rem;
	text-align: center;
	background-color: $background-color-tertiary;
}

.heading {
	padding: 0.5rem;
	font-size: 4rem;
	// font-weight: lighter;
}

.users_list {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	gap: 1rem;
	margin: 1rem;
	.user {
		color: $font-color-primary;
		cursor: pointer;
		width: 90%;
		margin: auto;
		padding: 1rem 2rem;
		border-radius: 0.4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		background-color: $primary-blue;
		// background-color: #673ab7;
		font-size: 2rem;
		transition-duration: 100ms;
		&:hover {
			transform: scale(1.03);
		}
	}
}
